
body {
    background-color: #D8E1E9;
  }

a {
    text-decoration: none;
}

#header-wrap {
    text-align: center;
}

.nav-item {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

nav li {
    display: inline;
    padding: 25px 40px;
    margin: 0 auto;
}

nav li a {
    color: #ffffff;
}

nav li a:hover {
    color: #EC0914;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #000000;
  }

.container {
    position: relative;
    text-align: center;
    color: #000000;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 85px;
    margin-bottom: 0px;
}

.city {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-top: 10px;
}

.right-aligned {
    position: absolute;
    top: 40px;
    right: 230px;
}

.canoe {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}

.sections {
    text-align: center;
    padding: 0 60px;
}

ol {
    list-style-position: inside;
}

section a {
    color: #000000;
}

p {
    font-family: 'Assistant', sans-serif;
}

.name {
    margin-bottom: 5px;
}

.email:hover {
    color: #EC0914;
    font-weight: bold;
    margin-bottom: 0px;
}

.github:hover, .linkedin:hover {
    font-weight: bold;
}