
/***** General Styles *****/

body {
    background-color: #D8E1E9;
    margin: 0px;
  }

a {
    text-decoration: none;
}

p {
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 0px;
}

.city {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-top: 10px;
}


/***** Navigation *****/

header nav {
    /* the default is block and we change to flex */
    display: flex;
    /* centers an element defined as `display: flex` */
    justify-content: center;
}

header nav ul {
    /* the default is block and we change to flex */
    display: flex;
    /* this removes the default padding to the left of the
     unordered list. */
    padding-left: 0;
    list-style: none;
}

header nav ul a {
    color: #ffffff;
    text-decoration: none;
    /* creates a visual gap between the navigation links */
    margin: 0 40px 0 0;
}

header nav ul li:last-child a {
    /* removes the margin to the right of the last anchor tag 
       so that the nav appears centered. */
    margin-right: 0;
  }

.nav-item {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

nav li a:hover {
    color: #EC0914;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #000000;
}




/* .right-aligned {
    position: absolute;
    top: 40px;
    right: 230px;
} */


.container {
    position: relative;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}








.canoe {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}

main {
    padding: 15px 0;
}

section {
    margin-bottom: 40px;
}

footer {
    margin-top: 10px;
    margin-bottom: 0;
}

/* .sections {
    padding: 0 60px;
} */

.portpara {
    width: 350px;
}

ol {
    list-style-position: inside;
}

section a {
    color: #000000;
}


.name {
    margin-bottom: 5px;
}

.email:hover {
    color: #EC0914;
    font-weight: bold;
    margin-bottom: 0px;
}

.github:hover, .linkedin:hover {
    font-weight: bold;
}


/***** Groups & Items  (Mobile First) *****/
.wrapper {
    width: 100%;
  }
  
.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
    /* margin: 10px; */
}
  

/***** Groups & Items  (Desktop) *****/

/* When a web browser is larger than 600px,
   apply these rules */
@media all and (min-width: 600px) {

    h1 {
        font-size: 75px;
    }

    header {
        /* change the default setting from block to flex */
        display: flex;
        /* push the items to the far sides of the 
        browser with space between them. */
        justify-content: space-between;
        /* Add 0px padding top & bottom and 30px left & right. */ 
        padding: 0 30px;  
    }

    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        display: flex;
        flex-direction: row;
    }

}


/***** Contact Form Design *****/

form {
    /* Fixes small sizing issue on the right */
    padding-right: 8px;
  }
  
form label {
    display: block;
    margin-bottom: 5px;
}

form input, 
form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px;
}

/* ---  Contact Form Design --- */

/* form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000;
    font-family: arial;
  }

form input, form textarea {
    color: #000000;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
} */